#mapContainer {
    height: 650px;
    position: relative;
    text-align: center;
}

    #mapContainer {
        margin-top: 10px;
        text-align: center;
    }

#mapFloorSelect {
    position: absolute;
    min-width: 200px;
    left: 0px;
}

.details-button {
    visibility: hidden;
}

#dialog {
    padding: 20px;
}

    #mapContainer #mapControls {
        margin-bottom: 10px;
        text-align: center;
    }

    #mapContainer #map {
        background-repeat: no-repeat;
        display: inline-block;
        height: 566px;
        width: 680px;
    }
